.display-4
  = add_link ? link_to(ent.title, ent) : ent.title

%small.text-muted
  written by
  = ent.admin.name

- if ent.image.present?
  = image_tag ent.image.url(:medium)

.lead= simple_format(ent.content)
