<section>
  <h1>
    The Pensieve
  </h1>
  <h4>
    Thoughts of a Dragon Master
  </h4>
</section>

<% if admin_signed_in? %>
  <%= link_to "New Entry", new_entry_url %>
<% end %>

<section>
  <% entries.each do |ent| %>
    <h3>
      <%= ent.title %>
    </h3>

    <p>
      <%= ent.content %>
    </p>

    <hr>
  <% end %>
</section>
