.blog
  .blog-title.wide
    %h1.display-3
      Harish's Notebook
    - if admin_signed_in?
      = link_to "New Entry", new_entry_url, class: 'btn btn-success'

  - entries.each do |ent|
    %hr.my-4
    = render 'entry', ent: ent, add_link: true
