<section>
  <h1>
    The Pensieve
  </h1>
  <h4>
    Thoughts of a Dragon Master
  </h4>
</section>

<% if admin_signed_in? %>
  <%= link_to "New Entry", new_entry_path %>
<% end %>

<section>
  <% entries.each do |ent| %>
    <h3>
      <%= link_to ent.title, ent %>
    </h3>

    <% if ent.image.present? %>
      <%= image_tag entry.image.url %>
    <% end %>

    <p>
      <%= simple_format(ent.content) %>
    </p>

    <hr>
  <% end %>
</section>
