<section>
  <h1>
    A Student's Notebook
  </h1>
</section>

<section>
  <% entries.each do |ent| %>
    <h3>
      <%= link_to ent.title, ent %>
    </h3>

    <% if ent.image.present? %>
      <%= image_tag ent.image.url %>
    <% end %>

    <p>
      <%= simple_format(ent.content) %>
    </p>

    <hr>
  <% end %>
</section>
