.blog
  = render 'entry', ent: entry, add_link: false

- if admin_signed_in? && current_admin == entry.admin
  = link_to "Edit", edit_entry_path(entry.id)
  = link_to "Destroy", entry_path(entry.id), method: :delete, data: { confirm: "Are you sure?" }
